export TZ='America/Vancouver'
export PUID=1026
export PGID=100
export LOCAL='nas.local'

export HARDLINK_MEDIA="${SERVICES}/_SHARED_VOLUMES_/tranmission_radarr_sonarr_hardlinks/root"
export BAZARR_DATA="${SERVICES}/bazarr/root"
export CADDY_DATA="${SERVICES}/caddy/root"
export HOMEPAGE_DATA="${SERVICES}/homepage/root"
export NGINX_DATA="${SERVICES}/nginx/root"
export OVERSEERR_DATA="${SERVICES}/overseerr/root"
export PLEX_DATA="${SERVICES}/plex/root"
export PROWLARR_DATA="${SERVICES}/prowlarr/root"
export RADARR_DATA="${SERVICES}/radarr/root"
export READARR_DATA="${SERVICES}/readarr/root"
export RECYCLARR_DATA="${SERVICES}/recyclarr/root"
export RESILIO_SYNC_DATA="${SERVICES}/resilio-sync/root"
export SEAFILE_DATA="${SERVICES}/seafile/root"
export SONARR_DATA="${SERVICES}/sonarr/root"
export TAILSCALE_EXIT_NODE_DATA="${SERVICES}/tailscale_exit_node/root"
export TAILSCALE_DATA="${SERVICES}/tailscale/root"
export TAILSCALE_SIDECAR_DATA="${SERVICES}/tailscale-sidecar/root"
#
export TS_SIDECAR_BINDINGS_LHS="${SERVICES}/tailscale-sidecar/root/etc/ts-sidecar/"
export TS_SIDECAR_BINDINGS_RHS='/etc/ts-sidecar/bindings.json'
#
export TRANSMISSION_DATA="${SERVICES}/transmission/root"
export TDARR_DATA="${SERVICES}/tdarr/root"
export VPN_DATA="${SERVICES}/vpn/root"
export WIKI_JS_DATA="${SERVICES}/wikijs/root"

export SEAFILE_ADMIN_EMAIL='${SEAFILE_ADMIN_EMAIL}'
export SEAFILE_ADMIN_PASSWORD='${SEAFILE_ADMIN_PASSWORD}'

export SEAFILE_DB_ROOT_PASSWORD='${SEAFILE_DB_ROOT_PASSWORD}'

export TS_AUTHKEY='${TS_AUTHKEY}'
