# SECRETS
DISCORD_TOKEN=
MINIO_PASSWORD=
SONARR_API_KEY=
RADARR_API_KEY=
TAILSCALE_AUTHKEY=
BINHEX_VPN_PROVIDER=
BINHEX_NAME_SERVERS=

# VARIABLES
MINIO_USERNAME=arq
MINIO_BUCKET_NAME=mbp16

MEDIA_DIRPATH='/volume1/downloaded-media/data'

BAZARR_PORT=6767
BAZARR_APP_DATA="/volume1/docker-data/services/bazarr/app-data"

DOPLARR_APP_DATA="/volume1/docker-data/services/doplarr/app-data"

DSM_PORT=48080

LIDARR_PORT=8686
LIDARR_APP_DATA="/volume1/docker-data/services/lidarr/app-data"

OVERSEERR_PORT=5055
OVERSEERR_APP_DATA="/volume1/docker-data/services/overseerr/app-data"

PLEX_PORT=32400
PLEX_APP_DATA="/volume1/docker-data/services/plex/app-data"

PLEX_META_MANAGER_APP_DATA="/volume1/docker-data/services/plex-meta-manager/app-data"

PROWLARR_PORT=9696
PROWLARR_APP_DATA="/volume1/docker-data/services/prowlarr/app-data"

QBITTORRENT_PORT=8080
QBITTORRENT_APP_DATA="/volume1/docker-data/services/qbittorrent-vpn/app-data"
QBITTORRENT_USER_DATA="/volume1/docker-data/services/qbittorrent-vpn/user-data"

RADARR_PORT=7878
RADARR_APP_DATA="/volume1/docker-data/services/radarr/app-data"

RECYCLARR_APP_DATA="/volume1/docker-data/services/recyclarr/app-data"

SABNZBD_INTERNAL_PORT=8080
SABNZBD_EXTERNAL_PORT=8090
SABNZBD_APP_DATA="/volume1/docker-data/services/sabnzbd-vpn/app-data"
SABNZBD_USER_DATA="/volume1/docker-data/services/sabnzbd-vpn/user-data"

SONARR_PORT=8989
SONARR_APP_DATA="/volume1/docker-data/services/sonarr/app-data"

TRANSMISSION_PORT=9091

VPN_SCALEWAY_PORT=51820
VPN_SCALEWAY_APP_DATA="/volume1/docker-data/services/vpn-scaleway/app-data"
VPN_SCALEWAY_USER_DATA="/volume1/docker-data/services/vpn-scaleway/user-data"

TAILSCALE_USE_SSH=0
TAILSCALE_SERVE_MODE='https'
TAILSCALE_STATE_DIR='/var/lib/tailscale'
TAILSCALE_DOCKER_MOD='ghcr.io/tailscale-dev/docker-mod:main'

PUID=65534
PGID=65534
TZ='America/Vancouver'

BINHEX_VPN_CLIENT=openvpn
BINHEX_LAN_NETWORK=192.168.10.0/24
